# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Streamlit cache
.streamlit/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store

# Model files
models/*.pkl

# Large raw data
data/raw/
